{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" -}}
<main class="main layout__main">
    <article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
<div class="content">
{{ .Content }}
</div>
</article>

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $paginator := .Paginate $pages -}}
{{ range sort $paginator.Pages "Params.eventDate" -}}
{{ .Render "full"}}
{{ end -}}

{{ partial "pagination.html" . }}

    Bei Fragen und Interesse kannst du dich gerne jederzeit an mich wenden:<br>
    isabella@melisaretreat.at<br>
    0650 2000 804

</main>
{{ end }}
